@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&display=swap');

/* global styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {

    display: flex;
    flex-direction: column;
    /* Stack elements vertically */
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 40%;
    border: 2px solid #2bbcff;
    border-radius: 2.5rem;
    background: rgb(193, 108, 0);
    background: linear-gradient(90deg, rgba(201, 70, 0, 1) 0%, rgba(252, 140, 49, 1) 39%, rgba(201, 70, 0, 1) 100%);
}

button {
    width: 30%;
    margin: 1rem auto;
    height: 2.5rem;
    border-radius: 1rem;
    border: 2px double #007dc5;
    outline: none;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    transition: .3s ease-in-out;
    background-color: #fc8c31;
}

p {
    text-align: center;
    font-size: 1rem;
}

button:hover {
    text-decoration: underline;
    background-color: #c94600;
    color: white;
}

/* header styling */
.header {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: .35rem 0 1rem 0;

}



input:not(#check_box_signin, #password_check, #repeat_password_check) {
    width: 50%;
    margin: .75rem auto;
    height: 3rem;
    padding: .5rem;
    text-transform: capitalize;
    border-radius: 1rem;
    border: 2px double #00aeff;
    outline: none;
}

/* forms styling */
.forms {
    width: 100%;
}



/* sign in form styling */

.signin {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.signin h2 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

/* sign up form styling */
.signup {
    display: flex;
    flex-direction: column;
    position: relative;
}

.password_container {
    display: flex;
    flex-direction: column;
    position: relative;
    
}

#signin_form {
    display: none;

}

.signup h2 {
    text-transform: capitalize;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.active {
    display: none;
}

/* check box styles */
#check_box_signin {
    position: absolute;
    right: 27%;
    top: 40%;
}
#repeat_password_check{
    position: absolute;
    right: 27%;
    top: 40%;
}

#password_check{
    position: absolute;
    right: 27%;
    top: 40%;
}







